body {
    background-color: #F8F8F8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    margin-bottom: 30px;
}

header > img {
    float: left;
    height: 50px;
}

nav {
    float: right;
    margin-top:  7px;
}

a {
    float: left;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #9E9E9E;
    font-size: 17px;
    text-decoration: none;
    border-radius: 18px;
    border: 5px solid transparent;
    line-height: 20px;
}

.signin {
    border-color: #9E9E9E;
    text-transform: uppercase;
    margin-left: 15px;
}

main {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);;
}

div {
    float: left;
    width: 45%;
    margin-top: 30px;
}

h1 {
    margin: 0;
    font-size: 100px;
    color: #9E9E9E;
}

p {
    font-size: 32px;
    margin: 0;
    color: #b6b6b6;
}

main > img {
    float: right;
    width: 50%;
}